#Import basic libraries.

In [2]:
import pandas as pd
import numpy as np

#Read and display the given csv file.

In [3]:
df = pd.read_csv("diabetes.csv")

In [4]:
df

     Pregnancies  Glucose  ...  Age  Outcome
0              6      148  ...   50        1
1              1       85  ...   31        0
2              8      183  ...   32        1
3              1       89  ...   21        0
4              0      137  ...   33        1
..           ...      ...  ...  ...      ...
763           10      101  ...   63        0
764            2      122  ...   27        0
765            5      121  ...   30        0
766            1      126  ...   47        1
767            1       93  ...   23        0

[768 rows x 9 columns]

#Correlation of features.

In [59]:
corr = df.corr()
print(corr)

                          Pregnancies   Glucose  BloodPressure  SkinThickness  \
Pregnancies               1.000000     0.127957  0.208615       0.081770
Glucose                   0.127957     1.000000  0.218615       0.192677
BloodPressure             0.208615     0.218615  1.000000       0.191892
SkinThickness             0.081770     0.192677  0.191892       1.000000
Insulin                   0.055478     0.420301  0.072041       0.158133
BMI                       0.021546     0.231470  0.281132       0.543275
DiabetesPedigreeFunction -0.033523     0.137100 -0.002378       0.102188
Age                       0.544341     0.266591  0.324915       0.126107
Outcome                   0.221898     0.492911  0.165723       0.214873

                           Insulin       BMI  DiabetesPedigreeFunction  \
Pregnancies               0.055478  0.021546 -0.033523
Glucose                   0.420301  0.231470  0.137100
BloodPressure             0.072041  0.281132 -0.002378
SkinThickness             0.158133  0.543275  0.102188
Insulin                   1.000000  0.166946  0.099170
BMI                       0.166946  1.000000  0.153506
DiabetesPedigreeFunction  0.099170  0.153506  1.000000
Age                       0.136050  0.025744  0.033561
Outcome                   0.214278  0.312249  0.173844

                               Age   Outcome
Pregnancies               0.544341  0.221898
Glucose                   0.266591  0.492911
BloodPressure             0.324915  0.165723
SkinThickness             0.126107  0.214873
Insulin                   0.136050  0.214278
BMI                       0.025744  0.312249
DiabetesPedigreeFunction  0.033561  0.173844
Age                       1.000000  0.238356
Outcome                   0.238356  1.000000

#Replace zeroes with mean values.

In [5]:
df1=["Glucose","BloodPressure", "SkinThickness", "Insulin", "BMI"]
for column in df1:
  df[column] = df[column].replace(0,np.NaN)
  mean=int(df[column].mean(skipna=True))
  df[column] = df[column].replace(np.NaN, mean)

#Divide data into train and test.

In [7]:
from sklearn.model_selection import train_test_split

In [26]:
x = df.iloc[:,0:8]
y = df.iloc[:,8]
train_x, test_x, train_y, test_y = train_test_split(x, y, random_state=0, test_size=0.2)

#Scale the input.

In [9]:
from sklearn.preprocessing import StandardScaler

In [27]:
sc_x = StandardScaler()
train_x = sc_x.fit_transform(train_x)
test_x = sc_x.fit_transform(test_x)

#Find k.

In [28]:
import math
math.sqrt(len(test_x)) #value of k must be odd hence k = 11

12.409673645990857

#Apply KNN Classifier.

In [12]:
from sklearn.neighbors import KNeighborsClassifier

In [29]:
cls = KNeighborsClassifier(n_neighbors=11, p=2, metric="euclidean")
cls.fit(train_x, train_y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='euclidean',
                     metric_params=None, n_jobs=None, n_neighbors=11, p=2,
                     weights='uniform')

#Predict the result.

In [30]:
pred_y = cls.predict(test_x)
pred_y

array([1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1,
       1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1,
       1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0])

#Evaluate the result.

In [22]:
from sklearn.metrics import confusion_matrix

In [31]:
cm = confusion_matrix(test_y, pred_y)
print(cm)

[[95 12]
 [18 29]]

In [24]:
from sklearn.metrics import accuracy_score

In [32]:
print(accuracy_score(test_y, pred_y))

0.8051948051948052